.vscode
*.pyc
*~
.DS_Store
.eggs/
dist
build
.idea
cover/
.tox/
.cache/
.coverage
coverage.xml
.benchmark

src/petabunit.egg-info/
src/petabunit/resources/cache

wheels
__pycache__
.pytest_cache
.Rhistory
*.tsv#
*.xlsx#

